[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-on-heroku = "*"
gunicorn = "*"
django = "*"
django-crispy-forms = "*"
django-ckeditor = "*"
cloudinary = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.10"
