{% extends 'blog/home.html' %}

{% block content %}
{% if user.is_authenticated %}
<h1 style="font-family: baskerville, serif;" class="tc">Add Post</h1>
<br>
<div class="field is-flex is-justify-content-center">
    <form method="POST" enctype='multipart/form-data' class="box">
        {% csrf_token %}
        <div class="field">
            {{ form.author }}
        </div>
        <p class="b mb1">Category:</p>
        <div class="field">
            {{ form.category }}
        </div>
        <p class="b mt-2">Title:</p>
        <div class="field">
            {{ form.title }}
        </div>
        <p class="b mt-2">Body:</p>
        <div class="field">
            {{ form.media }}
            {{ form.body }}
        </div>
        <p class="b mt-2">Image:</p>
        <div class="field">
            {{ form.image }}
        </div>
        <p class="b mt-2">Video:</p>
        <div class="field">
            {{ form.video }}
        </div>
<div class="is-flex is-justify-content-center">
    <button class="button is-primary mt-4" style="cursor: pointer;">
        <span>Create</span>
        <span class="icon is-small">
            <i class="fas fa-check"></i>
        </span>
    </button>
</div>
</form>
</div>

<script>
    var name = "{{ user.id }}";
    document.getElementById('user').value = name
</script>
{% else %}

<p class="tc">
We're sorry, you are not allowed to view this page.
</p>

{% endif %}
{% endblock %}